body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
}

.twtr-tweet-text {
	font-size: 25px;
}


h1 {
	outline: 2px solid black;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 1px;
	font-size: 50px;
	text-align: center;
	background-color: silver;
	 -webkit-text-stroke-width: 2px;
	 -webkit-text-stroke-color: black;
	 -webkit-text-fill-color: darkorange; /* Will override color (regardless of order) */
}

h2 {
	outline: 1px solid black;
	background-color: lightgrey;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	font-size: 45px;
	 -webkit-text-stroke-width: 1px;
	 -webkit-text-stroke-color: black;
	 -webkit-text-fill-color: blue;
}

h3 {
	text-align: left;
	font-size: 22px;
}

h4 {
	text-align: left;
	margin: 2px;
	margin-top: 10px;
	font-size: 30px;
}

h5 {
	text-align: left;
	font-size: 22px;
	line-height: 7px;
}


p {
	margin: 1px;
	margin-right: 8px;
	margin-left: 8px;
	text-indent: 20px;
	color: black;
	font-size: 22px;
}

img {
	width: 540;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
	display: block;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.group_member_photo {
	width: 140px;
	border: black solid 1px;
	margin: 20px;
	box-sizing: border;
	position: absolute;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.groupMember {
	height: 260px;
}

.description {
	position: absolute;
	overflow: hidden;
	left: 210px;
}

.PI_member_photo {
	width: 225px;
	border: black solid 1px;
	margin: 20px;
	box-sizing: border;
	position: absolute;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.PI {
	margin-bottom: 360px;
}

.PIdescription {
	position: absolute;
	overflow: hidden;
	margin-left: 260px;
	margin-right: 100px;
}

.main {
	min-height: 100%;
	height: auto;
	float: both;
	margin-left: 50px;
	background-color: white;
	text-indent: 4px;
	transition: width 0.25s;
	z-index: 0;
}

.menu {
	min-height: 100%;
	height: 100%;
	text-align: left;
	width: 50px;
	overflow: clip;
	position: fixed;
	outline: none;
	margin: 0;
	padding: 0;
	transition: width 0.25s;
	border-right: 1px solid black;
	z-index: 2;
	background-color: #FF8200;
}

.menu:hover {
	width: 300px;
	transition: width 0.25s;
	background-color: #FF8200;
}

.icon {
	width: 40px;
	left: 0;
	float: left;
	display: block;
	outline: none;
	border: none;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding: none;
}

.menu_icon {
	width: 50px;
	left: 0;
	float: left;
	display: block;
	outline: none;
	border: none;
	margin: 0;
	margin-right: 10px;
	padding: none;
}

.link {
	visibility: visible;
	display: block;
	text-align: left;
	float: left;
	line-height: 1.1;
	width: 100%;
	font-size: 28px;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: background-color 0.1s;
}

.menu_title {
	visibility: visible;
	display: block;
	text-align: left;
	float: left;
	line-height: 1.0;
	width: 100%;
	font-size: 32px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link:hover {
	background-color: orange;
	transition: background-color 0.1s;
}

body:hover .link {
	visibility: visible;
}

.center {
	position: relative;
	height: 100%;
	left: auto;
	right: auto;
	visibility: hidden;
}
