body {
	margin: 0px;
	width: 100%;
}

h1 {
	outline: 1px solid black;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 50px;
	text-align: center;
	background-color: silver;
	 -webkit-text-stroke-width: 2px;
	 -webkit-text-stroke-color: black;
	 -webkit-text-fill-color: darkorange; /* Will override color (regardless of order) */
}

h2 {
	outline: 1px solid black;
	background-color: lightgrey;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: center;
	font-size: 45px;
	 -webkit-text-stroke-width: 1px;
	 -webkit-text-stroke-color: black;
	 -webkit-text-fill-color: blue;
}

h3 {
	text-align: left;
	font-size: 22px;
}

h4 {
	text-align: left;
	margin: 2px;
	margin-top: 10px;
	font-size: 30px;
}

p {
	margin: 1px;
	margin-right: 8px;
	margin-left: 8px;
	text-indent: 20px;
	color: black;
	font-size: 22px;
}

img {
	width: 540;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
	display: block;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.group_member_photo {
	width: 140px;
	border: black solid 1px;
	margin: 20px;
	box-sizing: border;
	position: absolute;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.groupMember {
	margin-bottom: 260px;
}

.description {
	position: absolute;
	overflow: hidden;
	margin-left: 180px;
}

.main {
	height: 1000%;
	width: 78%;
	margin-left: 190px;
	position: absolute;
	outline: black solid 2px;
	background-color: white;
	text-indent: 4px;
}

.menu {
	text-align: left;
	background-color: darkorange;
	width: 190px;
	height: 1000%;
	overflow: hidden;
	position: absolute;
	outline: black solid 2px;
}
